.left_text{
	display:flex;
	flex-direction: column;
	width:755px;
	padding-left:140px;
	padding-top:140px;
	padding-bottom:80px;
	z-index:1;
}
.empire{	
	font-size:18px;
	font-family: Calibri;
	color:white;
}
.join{
	color:white;
	font-size:34px;
	font-family:Calibri;
}
.about{
	display:flex;
	padding-left:140px;
	font-family:Calibri;
	font-size:16px;
	color:#EC3C54;
}
img {
	height:85%;
	width:681px;
  	position: absolute;
	opacity:0.5;
  	left: 70px;
 	 top:60px;
	margin-bottom:20px;
	z-index:-1;
}
.right{
	background-color:white;
	z-index:1;
	height:490px;
	width:630px;
	font-size:13;
	font-family:Calibri;
	color:#C0C0C0;
	font-weight:bold;
	margin-top:-565px;
	margin-left:744px;
	padding-top:150px;
	padding-left:80px;
}
input[type=text],input[type=password],input[type=email]{
	width:550px;
	height:40px;
	font-weight:bold;
	box-sizing: border-box;
	border: none;
 	border-bottom: 0.5px solid  #d3d3d3;
}
input[type=button]{
	height:40px;
	font-size:12;
	width:150px;
	background-color: #EC3C54;
	box-sizing: border-box;
	border: none;
	border-radius:30px;
	font-family:Calibri;
	font-weight:600;
	color: white;
}
.bottom_right{
	display:flex;
	flex-direction: row;
	margin-top:-150px;
	margin-left:758px;
	padding-left:80px;
	font-family:Calibri;
}
.mem{
	margin-top:-9px;
	color:#a9a9a9;
	font-size:16;
	text-decoration:underline;
}
